/*----------------------------------- Tamanho Modal ----------------------------------*/
@media (max-width: 2100px){
	.modal-xxl {
		max-width: 85%;
	}
	.modal-xxxl {
		max-width: 95%;
	}
}
@media (min-width: 2101px){
	.modal-xxl {
		max-width: 1500px;
	}
	.modal-xxxl {
		max-width: 2000px;
	}
}
@media (min-width: 2400px){
	.container-body {
		max-width: 85%
	}
}
@media (max-width: 2400px){
	.container-body {
		max-width: 100%
	}
}
/*----------------------------------- iSelectKami ------------------------------------*/
div.iSelectKami ul li button:active {color: #1e2125; background-color: #e9ecef}
div.iSelectKami ul li button:focus {color: #212529; background-color: transparent;}
/*----------------------------------- SelectPicker -----------------------------------*/
.bs-searchbox input[type="search"] {
	min-height: calc(1.5em + (.5rem + 2px));
	padding: .25rem .5rem;
	font-size: .875rem;
	border-radius: .2rem;
}
.bootstrap-select a.dropdown-item {font-size: 85%}
/*------------------------------------ noUiSlider ------------------------------------*/
.slider-styled, .slider-styled .noUi-handle {
    box-shadow: none;
    height: 10px;
}
/* Hide markers on slider handles */
.slider-styled .noUi-handle::before, .slider-styled .noUi-handle::after {
    display: none;
}
.slider-styled .noUi-connect {
    background: #0d6efd;
}
.slider-styled .noUi-handle {
    height: 15px;
    width: 15px;
    top: -3px;
    right: -9px; /* half the width */
    border-radius: 9px;
}
.slider-styled .noUi-tooltip {
    display: none;
}
.slider-styled .noUi-active .noUi-tooltip {
    display: block;
}
/*-------------------------------------- TOASTS --------------------------------------*/
.toast {background-color: rgba(255,255,255)}
#master_toasts {z-index: 1000}
/*-------------------------------------- SCROLL --------------------------------------*/
::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #8f8f8f;
}
/*-------------------------------------- LOADING -------------------------------------*/
#loading_div {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,.3);
	z-index: 99999;
}
#loading_div > div{
	position: relative;
	top: calc(50% - 24px);
	left: calc(50% - 24px);
}
.dot-revolution, .dot-revolution::before, .dot-revolution::after {
	color: #0d6efd;
	background-color: #0d6efd;
}
div.stage {
	display: flex;
    justify-content: center;
    padding: .5rem 0;
}
/*------------------------------------ DATATABLES ------------------------------------*/
.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:0;}
.pagination.pagination-demo{margin:0}
.pagination>li{display:inline}
.pagination>li>a,.pagination>li>span{
	position:relative;float:left;
	padding:6px 12px;line-height:1.428571429;
	text-decoration:none;background-color:#fff;
	border:1px solid #eee;border-color:#eee transparent;
	margin-left:0;color:#999;-webkit-transition:all .1s;
	transition:all .1s
}
.pagination>li:first-child>a,.pagination>li:first-child>span{
	border:1px solid #eee;margin-left:0;border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important
}
.pagination>li:last-child>a,.pagination>li:last-child>span{
	border:1px solid #eee;border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important
}
.pagination>.disabled>span,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{
	color:#ccc;background-color:#fff;border-color:#eee;cursor:not-allowed
}
.pagination-lg>li>a,.pagination-lg>li>span{padding:7.5px 16px;font-size:18px}
.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:0;border-top-left-radius:0}
.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-bottom-right-radius:0;border-top-right-radius:0}
.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px}
.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:0;border-top-left-radius:0}
.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-bottom-right-radius:0;border-top-right-radius:0}
div.dataTables_paginate.paging_input ul.pagination div.input{float: left;padding: 3px 8px;}
div.dataTables_paginate.paging_input ul.pagination div.input input.paginate_input{width: 70px;display: inline}
/*----------------------------------- INSERT MODAL -----------------------------------*/
#insert_modal_form, #insert_modal_form input {font-size: .9em}
/*----------------------------------- MENU BOTTOM ------------------------------------*/
/*---------------------------------- RENDA VARIAVEL ----------------------------------*/
#renda_variavel__section .form-label {font-size: 11px}
#renda_variavel__instancias span {cursor: pointer}
/*------------------------------------ Arcabouco -------------------------------------*/
#arcaboucos_modal_form .form-label {font-size: 12px}
#table_arcaboucos {font-size: .85em}
#table_arcaboucos tbody td{vertical-align: middle}
#table_arcaboucos tbody td[name='data_criacao'] {width: 10%; font-size: 12px}
#table_arcaboucos tbody td[name='data_atualizacao'] {width: 10%; font-size: 12px}
#table_arcaboucos tbody td[name='qtd_ops'] {width: 8%; font-size: 12px}
#table_arcaboucos tbody td[name='meta'] {width: 10%}
#table_arcaboucos tbody td[name='meta'] progress {width: 85px}
#table_arcaboucos tbody td[name='usuarios'] {width: 20%}
#table_arcaboucos tbody td[name='usuarios'] span.badge {vertical-align: middle}
#table_arcaboucos tbody td[name='usuarios'] span.badge i {font-size: 8px}
#table_arcaboucos tbody td[name='editar'] {width: 4%}
#table_arcaboucos tbody td[name='remover'] {width: 4%}
/*a.arcabouco-selected {border-left: 3px solid #0d6efd !important;}*/
/*#table_arcaboucos .arcabouco-badge {font-size: 11px; color: #00000096}*/
/*---------------------------------- Dashboard Ops -----------------------------------*/
#dashboard_ops__filter .slider-styled.filter-hora {width: 100px; margin-top: 11px}
#dashboard_ops__filter input[name='data'] {width: 175px}
#dashboard_ops__filter div[name='ativo'] {width: 190px}
#dashboard_ops__filter div[name='cenario'] {width: 190px}
#dashboard_ops__filter div[name='premissas'] {width: 190px; font-size: 13px}
#dashboard_ops__filter div[name='observacoes'] {width: 190px}
#dashboard_ops__filter div[name='observacoes'] ul.dropdown-menu {max-height: 500px; font-size: 13px}
#dashboard_ops__filter div[name='observacoes'] ul li button[selected] {background-color: #dbddde}
#dashboard_ops__simulate input[name='vol'] {width: 80px}
#dashboard_ops__simulate select[name='tipo_cts'] {width: 115px}
#dashboard_ops__table_stats__byCenario {font-size: 12px}
#dashboard_ops__table_stats__byCenario span.data-small {font-weight: bold; font-size: 11px}
#dashboard_ops__table_stats__byCenario span.data-tiny {font-weight: bold; font-size: 9px}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(1) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(3) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(4) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(5) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(6) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(7) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(8) {width: 8%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(9) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(10) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(11) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(12) {width: 10%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(13) {width: 10%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(14) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(15) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(16) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(17) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(18) {width: 4%}
#dashboard_ops__chart_porHorario {height: 233px}
#dashboard_ops__chart_resultTempo {height: 233px}
/*------------------------------------ Lista Ops -------------------------------------*/
#lista_ops__table {font-size: 13px}
#lista_ops__table tr.selected {background: #cfe2ff}
#lista_ops__table_wrapper {font-size: 13px}
#lista_ops__table_wrapper select, #lista_ops__table_wrapper input {font-size: 11px}
/*------------------------------------- Cenarios -------------------------------------*/
#table_cenarios div.card {border-left: 3px solid #0d6efd !important;}
#table_cenarios div.card[new_cenario] {border-left: 3px solid #198754 !important;}
#table_cenarios a.nav-link span.badge {font-size: .6em;vertical-align: middle;margin-top: -2px;}
#table_cenarios table tbody td{vertical-align: middle}
#table_cenarios table tbody tr:last-child td {border: 0}
#table_cenarios table tbody td[name='ref']{width: 7%}
#table_cenarios table tbody td[name='obrigatoria']{width: 15%}
#table_cenarios table tbody td[name='inativo']{width: 15%}
#table_cenarios table tbody td[name='cor']{width: 10%}
#table_cenarios .accordion-button-with-input::after {margin-left: 1rem}
#table_cenarios .accordion-button[data-bs-toggle]:focus {box-shadow: none}
/*-------------------------------- Adicionar Operações -------------------------------*/
#operacoes_modal .form-label {font-size: 12px}
#table_operacoes_add {font-size: 13px}
#table_operacoes_add tr.error {background-color: #f8d7dac4;}
#table_operacoes_add th.error {color: #842029;}
#table_operacoes_add td input {text-align: center; font-size: 11px}
#table_operacoes_add td select {font-size: 11px}
#table_operacoes_add td[name='sequencia'] {width: 3%}
#table_operacoes_add td[name='data'] {width: 6%}
#table_operacoes_add td[name='ativo'] {width: 7%}
#table_operacoes_add td[name='op'] {width: 6%}
#table_operacoes_add td[name='rr'] {width: 7%}
#table_operacoes_add td[name='vol'] {width: 4%}
#table_operacoes_add td[name='cts'] {width: 3%}
#table_operacoes_add td[name='hora'] {width: 5%}
#table_operacoes_add td[name='entrada'] {width: 5%}
#table_operacoes_add td[name='stop'] {width: 5%}
#table_operacoes_add td[name='alvo'] {width: 5%}
#table_operacoes_add td[name='men'] {width: 5%}
#table_operacoes_add td[name='mep'] {width: 5%}
#table_operacoes_add td[name='saida'] {width: 5%}
#table_operacoes_add td[name='premissas'] {width: 9%}
#table_operacoes_add td[name='observacoes'] {width: 9%}
#table_operacoes_add td[name='erro'] {width: 2%; text-align: center; vertical-align: middle;}
/*------------------------------------- ATIVOS ---------------------------------------*/
#table_ativos {font-size: .80em}
#table_ativos tbody td{vertical-align: middle}
#table_ativos tr td[name='custo'], #table_ativos tr td[name='valor_tick'], #table_ativos tr td[name='pts_tick'], #table_ativos tr td[name='action'] {text-align: center}
#table_ativos tr td[name='custo']:after, #table_ativos tr td[name='valor_tick']:after{content: ' BRL'; font-size: 10px}
#table_ativos tr td[name='pts_tick']:after{content: ' pt'; font-size: 10px}
#table_win_series tbody td, #table_wdo_series tbody td{vertical-align: middle}
#table_win_series tr td[name='serie'], #table_wdo_series tr td[name='serie'] {text-align: center}
#table_win_series tr td[name='data'] span.daylish:after, #table_wdo_series tr td[name='data'] span.daylish:after {content: 'th'; font-size: 8px}