/*----------------------------------- Tamanho Modal ----------------------------------*/
@media (max-width: 2100px){
	.modal-xxl {
		max-width: 85%;
	}
	.modal-xxxl {
		max-width: 95%;
	}
}
@media (min-width: 2101px){
	.modal-xxl {
		max-width: 1500px;
	}
	.modal-xxxl {
		max-width: 2000px;
	}
}
@media (min-width: 2400px){
	.container-body {
		max-width: 85%
	}
}
@media (max-width: 2400px){
	.container-body {
		max-width: 100%
	}
}
/*----------------------------------- iSelectKami ------------------------------------*/
div.iSelectKami ul li button:active {color: #1e2125; background-color: #e9ecef}
div.iSelectKami ul li button:focus {color: #212529; background-color: transparent}
div.iSelectKami ul li.not-selectable {padding: .25rem 1rem; width: 100%; font-weight: 500; font-size: .9em}
/*----------------------------------- SelectPicker -----------------------------------*/
.bs-searchbox input[type='search'] {
	min-height: calc(1.5em + (.5rem + 2px));
	padding: .25rem .5rem;
	font-size: .875rem;
	border-radius: .2rem;
}
.bootstrap-select a.dropdown-item {font-size: 85%}
/*------------------------------------ noUiSlider ------------------------------------*/
.slider-styled, .slider-styled .noUi-handle {
    box-shadow: none;
    height: 10px;
}
/* Hide markers on slider handles */
.slider-styled .noUi-handle::before, .slider-styled .noUi-handle::after {
    display: none;
}
.slider-styled .noUi-connect {
    background: #0d6efd;
}
.slider-styled .noUi-handle {
    height: 15px;
    width: 15px;
    top: -3px;
    right: -9px; /* half the width */
    border-radius: 9px;
}
.slider-styled .noUi-tooltip {
    display: none;
}
.slider-styled .noUi-active .noUi-tooltip {
    display: block;
}
/*-------------------------------------- TOASTS --------------------------------------*/
.toast {background-color: rgba(255,255,255)}
#master_toasts {z-index: 1000}
/*-------------------------------------- SCROLL --------------------------------------*/
::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #8f8f8f;
}
/*-------------------------------------- LOADING -------------------------------------*/
#loading_div {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, .7);
	backdrop-filter: blur(3px);
	z-index: 99999;
}
@keyframes spinner {
	to {transform: rotate(360deg)}
}
.loading-spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #07d;
	border-bottom-color: #07d;
	animation: spinner .8s ease infinite;
}
/*---------------------------------- PLACEHOLDER GLOW --------------------------------*/
i.glow {
	font-size: 4em;
    webkit-animation: placeholder-glow 2s ease-in-out infinite;
    animation: placeholder-glow 2s ease-in-out infinite;
    opacity: .1
}
/*------------------------------------ DATATABLES ------------------------------------*/
.pagination {align-items: center!important; border-radius: 0}
.pagination.pagination-demo {margin: 0}
.pagination > li {display: inline}
.pagination > li > a, .pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #eee;
	border-color: #eee transparent;
	margin-left: 0;
	color: #999;
	-webkit-transition: all .1s;
	transition: all .1s
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	border: 1px solid #eee;
	margin-left: 0;
	border-radius: 0;
	-webkit-box-shadow: none !important;
	box-shadow: none !important
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border: 1px solid #eee;
	border-radius: 0;
	-webkit-box-shadow: none !important;
	box-shadow: none !important
}
.pagination > .disabled > span, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	color: #ccc;
	background-color: #fff;
	border-color: #eee;
	cursor: not-allowed
}
.pagination-lg > li > a, .pagination-lg > li > span {padding: 7.5px 16px; font-size: 18px}
.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {border-bottom-left-radius: 0; border-top-left-radius: 0}
.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {border-bottom-right-radius: 0; border-top-right-radius: 0}
.pagination-sm > li > a, .pagination-sm > li > span {padding: 5px 10px; font-size: 12px}
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {border-bottom-left-radius: 0; border-top-left-radius: 0}
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {border-bottom-right-radius: 0; border-top-right-radius: 0}
div.dataTables_paginate.paging_input ul.pagination div.input{float: left; padding: 3px 8px;}
div.dataTables_paginate.paging_input ul.pagination div.input input.paginate_input{width: 70px; display: inline; border-radius: 0}
.table td.divider, .table th.divider {border-left: 1px solid #dee2e6}
.table thead th.subheader {border-bottom: 1px solid #dee2e6 !important; font-size: 11px}
.table thead th.mainheader {border-bottom: none !important}
.table tbody th.subheader, .table tfoot th.subheader {font-size: 11px}
/*------------------------------------- BOOTSTRAP ------------------------------------*/
.btn:focus {box-shadow: none}
/*----------------------------- INSERT MODAL (GENÉRICO) ------------------------------*/
#insert_modal_form, #insert_modal_form input {font-size: .9em}
/*------------------------------------------------------------------------------------*/
/*---------------------------------- RENDA VARIÁVEL ----------------------------------*/
/*------------------------------------------------------------------------------------*/
#renda_variavel__instancias span {cursor: pointer}
#renda_variavel__search .form-label {font-size: 11px}
#renda_variavel__search .slider-styled.filter-hora {width: 100px; margin-top: 11px}
#renda_variavel__search input[name='data'] {width: 175px}
#renda_variavel__search div[name='ativo'] {width: 190px}
#renda_variavel__search div[name='cenario'] {width: 190px}
#renda_variavel__search div[name='observacoes'] {width: 190px}
#renda_variavel__search div[name='observacoes'] ul.dropdown-menu {max-height: 500px; font-size: 13px}
#renda_variavel__search div[name='observacoes'] ul li button[selected] {background-color: #dbddde}
#renda_variavel__search input[name='vol'] {width: 80px}
#renda_variavel__search select[name='tipo_cts'] {width: 115px}
#renda_variavel__search div[name='tipo_parada'] {width: 190px}
#renda_variavel__search div[name='tipo_parada'] ul.dropdown-menu {max-height: 500px; font-size: 13px; min-width: max-content}
#renda_variavel__search div[name='tipo_parada'] ul li button[selected] {background-color: #dbddde}
#renda_variavel__search select[name='ativo'].init, #renda_variavel__search select[name='gerenciamento'].init, #renda_variavel__search select[name='cenario'].init {height: 30px}
/*------------------------------------ Arcabouço -------------------------------------*/
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
	}
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
	}
}
#arcaboucos_modal_form .form-label, #arcaboucos_modal__search .form-label {font-size: 12px}
#arcaboucos_modal_form .ck-editor__editable {min-height: 350px}
#table_arcaboucos {font-size: .80em}
#table_arcaboucos tbody td{vertical-align: middle}
#table_arcaboucos tbody td[name='situacao'] {width: 2%; text-align: center}
#table_arcaboucos tbody td[name='situacao'] i {font-size: 8px; margin-left: 5px}
#table_arcaboucos tbody td[name='situacao'] i.fechado {color: #198754}
#table_arcaboucos tbody td[name='situacao'] i.pendente {color: #0d6efd}
#table_arcaboucos tbody td[name='situacao'] i.fazendo {color: #0d6efd; border-radius: 50%; animation: pulse 1.5s infinite}
#table_arcaboucos tbody td[name='tipo'] {width: 5%; text-align: center}
#table_arcaboucos tbody td[name='data_criacao'] {width: 11%; font-size: 11px}
#table_arcaboucos tbody td[name='data_atualizacao'] {width: 13%; font-size: 11px}
#table_arcaboucos tbody td[name='qtd_ops'] {width: 8%; font-size: 12px}
#table_arcaboucos tbody td[name='usuarios'] {width: 20%}
#table_arcaboucos tbody td[name='usuarios'] span.badge {vertical-align: middle}
#table_arcaboucos tbody td[name='usuarios'] span.badge i {font-size: 8px}
#table_arcaboucos tbody td[name='editar'] {width: 4%}
#table_arcaboucos tbody td[name='remover'] {width: 4%}
#table_arcaboucos_filter {display: none}
#table_arcaboucos_info {font-size: 13px}
/*-------------------------------------- Ativo ---------------------------------------*/
#ativos_modal_form .form-label {font-size: 12px}
#table_ativos {font-size: .80em}
#table_ativos tbody td{vertical-align: middle}
#table_ativos tr td[name='custo'], #table_ativos tr td[name='valor_tick'], #table_ativos tr td[name='pts_tick'], #table_ativos tr td[name='action'] {text-align: center}
#table_ativos tr td[name='custo']:after, #table_ativos tr td[name='valor_tick']:after{content: ' BRL'; font-size: 10px}
#table_ativos tr td[name='pts_tick']:after{content: ' pt'; font-size: 10px}
#table_ativos tbody td[name='editar'] {width: 4%}
#table_ativos tbody td[name='remover'] {width: 4%}
#ativos_modal__vencimentos_search .form-label {font-size: 12px}
#ativos_modal__vencimentos_table_win_series, #ativos_modal__vencimentos_table_wdo_series {font-size: .85em}
#ativos_modal__vencimentos_table_win_series tbody td, #ativos_modal__vencimentos_table_wdo_series tbody td{vertical-align: middle}
#ativos_modal__vencimentos_table_win_series tr td[name='serie'], #ativos_modal__vencimentos_table_wdo_series tr td[name='serie'] {text-align: center; font-weight: 600}
#ativos_modal__vencimentos_table_win_series tr td[name='data'] span.daylish:after, #ativos_modal__vencimentos_table_wdo_series tr td[name='data'] span.daylish:after {content: 'th'; font-size: 8px}
/*---------------------------------- Gerenciamento -----------------------------------*/
#gerenciamentos_modal_form .form-label {font-size: 12px}
#table_gerenciamentos {font-size: .80em}
#table_gerenciamentos tbody td{vertical-align: middle}
#table_gerenciamentos tbody td[name='acoes'] button {font-size: 10px; font-weight: 600}
#table_gerenciamentos tbody td[name='acoes'] button.btn-success {color: #212529; background-color: #bce1d0; border-color: #fff}
#table_gerenciamentos tbody td[name='acoes'] button.btn-danger {color: #212529; background-color: #f1bac0; border-color: #fff}
#table_gerenciamentos tbody td[name='editar'] {width: 4%}
#table_gerenciamentos tbody td[name='remover'] {width: 4%}
#gerenciamentos_modal_form .tips {font-size: .8em}
#gerenciamentos_modal_form .tips i {font-size: .9em}
#gerenciamentos_modal_form__acoes button {font-weight: 600}
#gerenciamentos_modal_form__acoes button.btn-success {color: #212529; background-color: #bce1d0; border-color: #fff}
#gerenciamentos_modal_form__acoes button.btn-danger {color: #212529; background-color: #f1bac0; border-color: #fff}
/*------------------------------------- Cenarios -------------------------------------*/
#cenarios_modal__cenarios div.card {border-left: 3px solid #0d6efd !important; border-radius: 0}
#cenarios_modal__cenarios div.card[new_cenario] {border-left: 3px solid #ffc107 !important}
#cenarios_modal__cenarios div.card-body {background-color: #fdfdfd}
#cenarios_modal__cenarios button {font-size: 12px}
#cenarios_modal__cenarios input{font-size: 12px}
#cenarios_modal__cenarios table {font-size: 12px}
#cenarios_modal__cenarios table tbody td{vertical-align: middle; font-size: 12px}
#cenarios_modal__cenarios table tbody tr:last-child td {border: 0}
#cenarios_modal__cenarios table tbody td[name='ref']{width: 7%}
#cenarios_modal__cenarios table tbody td[name='obrigatoria']{width: 15%}
#cenarios_modal__cenarios table tbody td[name='inativo']{width: 15%}
#cenarios_modal__cenarios .accordion-button-with-input::after {margin-left: 1rem}
#cenarios_modal__cenarios .accordion-button[data-bs-toggle]:focus {box-shadow: none}
/*--------------------------------- Upload Operações ---------------------------------*/
#upload_operacoes_modal .form-label {font-size: 12px}
#table_upload_operacoes {font-size: 12px}
#table_upload_operacoes tbody td{vertical-align: middle}
#table_upload_operacoes td.error {background-color: #f8d7dac4}
#table_upload_operacoes th.error {color: #842029;}
#table_upload_operacoes td[name='sequencia'] {width: 3%}
#table_upload_operacoes td[name='data'] {width: 6%}
#table_upload_operacoes td[name='ativo'] {width: 6%; text-align: center}
#table_upload_operacoes td[name='op'] {width: 4%; text-align: center}
#table_upload_operacoes td[name='gerenciamento'] {width: 10%; text-align: center}
#table_upload_operacoes td[name='vol'] {width: 4%; text-align: center}
#table_upload_operacoes td[name='cts'] {width: 4%; text-align: center}
#table_upload_operacoes td[name='hora'] {width: 5%}
#table_upload_operacoes td[name='resultado'] {width: 7%; text-align: center}
#table_upload_operacoes td[name='observacoes'] {width: 15%}
#table_upload_operacoes td[name='erro'] {width: 2%; text-align: center}
/*-------------------------------- Adicionar Operações -------------------------------*/
#adicionar_operacoes_offcanvas {width: 1750px}
#adicionar_operacoes_offcanvas__form_default .form-label {font-size: 11px}
#adicionar_operacoes_offcanvas__form_default select[name='hoje'].init, #adicionar_operacoes_offcanvas__form_default select[name='gerenciamento'].init {height: 30px}
#adicionar_operacoes_offcanvas__form_default div[name='hoje'] {width: 135px}
#adicionar_operacoes_offcanvas__form_default div[name='gerenciamento'] {width: 190px}
#table_adicionar_operacoes {font-size: 13px}
#table_adicionar_operacoes tbody tr:nth-child(1) td {padding-top: 8px}
#table_adicionar_operacoes tbody tr.tr_separator td {padding-bottom: 15px}
#table_adicionar_operacoes tbody tr.risk_block.hide {visibility: hidden}
#table_adicionar_operacoes input {font-size: 10px}
#table_adicionar_operacoes tbody td{vertical-align: middle; border: 0;}
#table_adicionar_operacoes tbody td[name='bloco'] {width: 4%}
#table_adicionar_operacoes tbody td[name='data'] {width: 6%}
#table_adicionar_operacoes tbody td[name='ativo'] {width: 4%}
#table_adicionar_operacoes tbody td[name='gerenciamento'] {width: 8%}
#table_adicionar_operacoes tbody td[name='op'] {width: 3%}
#table_adicionar_operacoes tbody td[name='barra'] {width: 4%}
#table_adicionar_operacoes tbody td[name='vol'] {width: 4%}
#table_adicionar_operacoes tbody td[name='cts'] {width: 4%}
#table_adicionar_operacoes tbody td[name='ger_acoes'] {width: 17%}
#table_adicionar_operacoes tbody td[name='ger_acoes'] button {font-size: 10px; font-weight: 600}
#table_adicionar_operacoes tbody td[name='ger_acoes'] button.btn-success {color: #212529; background-color: #bce1d0; border-color: #fff}
#table_adicionar_operacoes tbody td[name='ger_acoes'] button.btn-danger {color: #212529; background-color: #f1bac0; border-color: #fff}
#table_adicionar_operacoes tbody td[name='escalada'] {width: 4%}
#table_adicionar_operacoes tbody td[name='resultado'] {width: 6%}
#table_adicionar_operacoes tbody td[name='cenario'] {width: 6%}
#table_adicionar_operacoes tbody td[name='observacoes'] {width: 10%}
#table_adicionar_operacoes tbody td[name='erro'] {width: 3%}
#adicionar_operacoes__extraDados table tbody td {vertical-align: middle; font-size: 12px}
#adicionar_operacoes__extraDados table tbody td[name='ref'] {font-weight: 600; text-align: center}
#adicionar_operacoes__extraDados table tbody td[name='nome'] {font-size: 11px; font-weight: 500}
#adicionar_operacoes_offcanvas__contagem .form-label {font-size: 11px}
#adicionar_operacoes_offcanvas__contagem input {font-size: 11px; background-color: #fff; text-align: center; font-weight: bold}
#adicionar_operacoes_offcanvas__contagem input.not_ok {color: #dc3545}
#adicionar_operacoes_offcanvas__contagem button.disabled {color: #6c757d !important; background-color: transparent !important}
#adicionar_operacoes_offcanvas__contagem button[name='up_c_tendencia'], #adicionar_operacoes_offcanvas__contagem button[name='up_c_pernada'] {width: 50px; color: #198754; background-color: #bce1d0; border-color: #ced4da}
#adicionar_operacoes_offcanvas__contagem button[name='down_c_tendencia'], #adicionar_operacoes_offcanvas__contagem button[name='down_c_pernada'] {width: 50px; color: #dc3545; background-color: #f1bac0; border-color: #ced4da}
#adicionar_operacoes_offcanvas__contagem button[name='restart_c_tendencia'], #adicionar_operacoes_offcanvas__contagem button[name='restart_c_pernada'] {width: 50px; color: #dc3545; background-color: #fff; border-color: #ced4da}
/*---------------------------------- Arcabouco Info ----------------------------------*/
#arcabouco_info {width: 500px}
#arcabouco_info .arcabouco_info__observacao {font-size: .8em}
#arcabouco_info .arcabouco_info__cenarios_obs {overflow: auto; max-height: 300px}
#arcabouco_info .arcabouco_info__cenarios_obs table {font-size: .8em}
#arcabouco_info .arcabouco_info__cenarios_obs table tr.divider td {padding-top: 15px}
#arcabouco_info .arcabouco_info__cenarios_obs table td[name='ref']{vertical-align: middle}
#arcabouco_info .arcabouco_info__cenarios_obs table td[name='observacao']{vertical-align: middle}
#arcabouco_info .arcabouco_info__stats table td code {font-size: .8em; color: #212529}
#arcabouco_info .arcabouco_info__stats table tr.divider td {padding-top: 15px}
#arcabouco_info .arcabouco_info__stats table tr td span.media_por_dia {font-size: 12px}
/*------------------------------------ Lista Ops -------------------------------------*/
#lista_ops {width: 950px}
#lista_ops__search .form-label {font-size: 11px}
#lista_ops__search input[name='data'] {width: 175px}
#lista_ops__search select[name='ativo'].init, #lista_ops__search select[name='cenario'].init, #lista_ops__search select[name='gerenciamento'].init {height: 30px}
#lista_ops__search div[name='ativo'] {width: 190px}
#lista_ops__search div[name='cenario'] {width: 190px}
#lista_ops__search div[name='gerenciamento'] {width: 190px}
#lista_ops__table {font-size: 11px}
#lista_ops__table tbody td{vertical-align: middle}
#lista_ops__table tr.selected {background: #cfe2ff}
#lista_ops__table tbody td[name='sequencia'] {width: 5%}
#lista_ops__table tbody td[name='data'] {width: 8%}
#lista_ops__table tbody td[name='hora'] {width: 8%}
#lista_ops__table tbody td[name='ativo'] {width: 8%}
#lista_ops__table tbody td[name='gerenciamento'] {width: 8%; text-align: center}
#lista_ops__table tbody td[name='op'] {width: 10%; text-align: center}
#lista_ops__table tbody td[name='resultado'] {width: 8%; text-align: center}
#lista_ops__table tbody td[name='vol'] {width: 8%}
#lista_ops__table tbody td[name='cenario'] {width: 10%}
#lista_ops__table tbody td[name='erro'] {width: 5%; text-align: center}
#lista_ops__table_wrapper {font-size: 13px}
#lista_ops__table_wrapper input {font-size: 11px}
#lista_ops__table_filter {display: none}
/*---------------------------------- Dashboard Ops -----------------------------------*/
#dashboard_ops__table_stats__byCenario {font-size: 12px}
#dashboard_ops__table_stats__byCenario span.data-small {font-weight: bold; font-size: 11px}
#dashboard_ops__table_stats__byCenario span.data-tiny {font-weight: bold; font-size: 9px}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(1) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(3) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(4) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(5) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(6) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(7) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(8) {width: 6%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(9) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(10) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(11) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(12) {width: 9%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(13) {width: 9%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(14) {width: 8%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(15) {width: 8%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(16) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(17) {width: 4%}
#dashboard_ops__table_stats__byCenario tbody tr td:nth-child(18) {width: 4%}
#dashboard_ops__table_trades_wrapper div.card-body.head {height: 50px}
#dashboard_ops__table_trades_wrapper div.card-body.body {height: 479px}
#dashboard_ops__chart_resultadoNormalizado {height: 539px}
#dashboard_ops__chart_resultadoPorHorario {height: 539px}
#dashboard_ops__chart_evolucaoPatrimonial {height: 539px}
#dashboard_ops__chart_sequencaResults {height: 539px}
#dashboard_ops__chart_drawdown {height: 539px}
#dashboard_ops__table_trades {font-size: 11px}
#dashboard_ops__table_trades_filter {font-size: 14px}
#dashboard_ops__table_trades_paginate {font-size: 12px}
#dashboard_ops__table_trades_filter input, #dashboard_ops__table_trades_paginate input {font-size: 12px}
#dashboard_ops__table_trades tbody td{vertical-align: middle}
#dashboard_ops__table_trades tbody td[name='trade__custo'] {font-size: 10px}
#dashboard_ops__table_trades tbody td[name='lucro_bruto__brl'] {font-size: 10px}
#dashboard_ops__table_trades tbody td[name='prejuizo_bruto__brl'] {font-size: 10px}
/*------------------------------------------------------------------------------------*/
/*------------------------------- CONTROLE FINANCEIRO --------------------------------*/
/*------------------------------------------------------------------------------------*/
#controle_financeiro__search .form-label {font-size: 11px}
#controle_financeiro__search .slider-styled.filter-hora {width: 100px; margin-top: 11px}
#controle_financeiro__search input[name='data'] {width: 175px}
#controle_financeiro__search div[name='conta'] {width: 190px}
#controle_financeiro__search div[name='cartao'] {width: 190px}
#controle_financeiro__search div[name='categorias'] {width: 190px}
#controle_financeiro__search div[name='categorias'] ul.dropdown-menu {max-height: 500px; font-size: 13px}
#controle_financeiro__search div[name='categorias'] ul li button[selected] {background-color: #dbddde}
#controle_financeiro__search input[name='vol'] {width: 80px}
#controle_financeiro__search select[name='tipo_cts'] {width: 115px}
#controle_financeiro__search select[name='tipo_parada'] {width: 180px}
#controle_financeiro__search select[name='conta'].init, #controle_financeiro__search select[name='cartao'].init {height: 30px}
/*-------------------------------------- Conta ---------------------------------------*/
#contas_modal_form .form-label {font-size: 12px}
#contas_modal_form .form-control-color {padding: .25rem 0.5rem}
#table_contas {font-size: .80em}
#table_contas_filter {display: none}
#table_contas_info {font-size: 13px}
#table_contas tbody td{vertical-align: middle}
#table_contas tbody td[name='cor'] {width: 5%}
#table_contas tbody td[name='cor'] i {font-size: 8px}
#table_contas tbody td[name='editar'] {width: 4%}
#table_contas tbody td[name='remover'] {width: 4%}
/*--------------------------------- Cartões Crédito ----------------------------------*/
#cartoes_credito_modal_form .form-label {font-size: 12px}
#cartoes_credito_modal_form .form-control-color {padding: .25rem 0.5rem}
#table_cartoes_credito {font-size: .80em}
#table_cartoes_credito_filter {display: none}
#table_cartoes_credito_info {font-size: 13px}
#table_cartoes_credito tbody td{vertical-align: middle}
#table_cartoes_credito tbody td[name='editar'] {width: 4%}
#table_cartoes_credito tbody td[name='remover'] {width: 4%}